<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="main::navigation(categories=${categories})"></nav>
<table>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>

    <div class="threadlist m-4">
        <h1 th:text="${category.getCategoryName()}"></h1>
    </div>
    <div class="m-4"><h5 th:text="${category.getDescription()}"></h5></div>
    <br>

    <tr th:each="product:${products}">
        <div class="text-center border border-dark rounded productlist d-inline-block m-4">
            <a th:href="@{'/category/' + ${categoryId} + '/products/' + ${product.getProductId()}}"><img th:src="${product.getProductIcon()}" width="250px" height="170px"></a>
            <h5><a th:href="@{'/category/' + ${categoryId} + '/products/' + ${product.getProductId()}}" th:text="${product.getProductName()}"></a>
                <br>
                <div class="text-center"><span th:text="${product.getProductPrice()}"></span>
                <span>zł</span></div>
            </h5></div>
    </tr>
    </tbody>
</table>
</body>
</html>