<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-light text-dark">
<nav th:replace="main::navigation(categories=${categories})"></nav>
<table>
    <tbody>
    <h1 class="m-4">Searched products: </h1>

    <table class="table table-striped" style="color: darkslategray">
        <tr th:each="product: ${productsSearched}">
            <td>
                <div class="shadow p-3 mb-2 bg-body rounded">
                <h4 class="d-inline mr-2"><a th:href="@{'/category/' + 1 + '/products/' + ${product.getProductId()}}" th:text="${product.getProductName()}"></a></h4>
                <a th:href="@{'/category/' + 1 + '/products/' + ${product.getProductId()}}">
                    <img class="shadow bg-body rounded" th:src="${product.getProductIcon()}" height="75px" width="100px">
                </a>
                </div>
            </td>
        </tr>
    </table>
    </tbody>
</table>
</body>
</html>