<!DOCTYPE html>
<html lang="en">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>LoadUp</title>
</head>
<body class="bg-light text-dark">
<nav th:replace="main::navigation(categories=${categories})"></nav>
<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
<img src="https://i.ibb.co/bbWyYnt/LOAD-UP-1.png" class="rounded mx-auto d-block mt-4" width="200px" height="200px">
</div>
<div class="m-4 p-4 text-center border border-5">
    <h2>We are LoadUp. <br><br>
        We produce the highest quality dietary supplements and stimulants. <br>
        We are convinced that each measure of our product is the best advertisement for us. <br>
        We take care of the consumer requirements, of athletes and people who care about health. <br>
        We strive for excellence every day.</h2>
</div>
</body>
</html>