<!DOCTYPE html>
<html lang="en">
<head th:insert="main::head">
    <meta charset="UTF-8">
    <title>Strona startowa</title>
</head>
<body class="bg-light text-dark">
<nav th:replace="main::navigation(categories=${categories})"></nav>
<div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
<img src="https://i.ibb.co/bbWyYnt/LOAD-UP-1.png" class="rounded mx-auto d-block mt-4" width="200px" height="200px">
</div>
    <div class="m-4 p-4 text-center border border-5">
    <h2>Contact: <br><br>
        Phone: +48 999111999 <br>
        General: info@loadup.com<br>
        Sales: sales@loadup.com<br>
        Press: press@loadup.com</h2>
</div>
</body>
</html>